@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  position: relative;
}

main {
  min-height: 80vh;
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

.presentation {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#84fc804d, #2ffa282d);
  text-transform: uppercase;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
  text-align: center;
}

.input-field label {
  margin: 2rem;
}

.input-field input {
  outline: none;
  padding: 1rem;
  background: none;
  color: #fff;
  text-align: center;
  border: none;
  border-bottom: 2px solid #076b349a;
}

.input-field input:hover,
.input-field input:focus {
  border-bottom: 4px solid #0cc05d8f;
}

.keyboard-grid {
  width: 80vw;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(4, 4.2rem);
}

.keyboard-grid .first-row,
.keyboard-grid .second-row,
.keyboard-grid .third-row,
.keyboard-grid .fourth-row {
  display: flex;
}

.keyboard-item {
  border: 1.5px solid #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0 5px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  user-select: none;
}

.keyboard-item:hover {
  background: #076e358f;
}

.keyboard-item.space {
  margin: 1rem 0;
  padding: 1rem 15rem;
}

.keyboard-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56vh;
  background-color: #04411fce;
  display: grid;
  place-items: center;
  opacity: 0;
  transform: translateY(56vh);
  transition: 500ms ease-in-out;
  transition-delay: 50ms;
}

.keyboard-item.caps {
  position: relative;
  padding: 1rem 2.5rem;
}

.keyboard-item.caps .toggle-caps {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  border: 0.5px solid #fff;
  top: 20%;
  right: 10%;
  border-radius: 50%;
}

.keyboard-item.caps .toggle-caps.active {
  background: #fff;
}

.keyboard-item[data-value="enter"] {
  padding: 1rem 2.5rem;
  font-size: 20px;
}

.keyboard-item[data-value="escape"] {
  padding: 1rem 3rem;
  font-size: 20px; 
}